<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
        type="text/css"
        href="../static/style.css">
    <title>Mimic</title>
</head>

<body>
    <div>
        <h1 class="title">h1 foo</h1>
        <div class="row">

            <div class="column1">
                <div class="text2">nav foo</div>
                <br>
                <div class="text">dis</div>
                <div class="text">dat</div>
                <div class="text">de udda ting</div>
            </div>

            <div class="column2">
                <div class="text3"> main foo heading </div>
                <p class="font"> Bacon ipsum dolor amet tongue ground round chislic, corned beef hamburger capicola sirloin bacon tenderloin buffalo doner ham hock. Tail pork picanha short loin, tongue andouille hamburger venison fatback bacon burgdoggen chislic. </p>
                <p class="font"> Shankle turducken venison sausage kielbasa, chuck corned beef boudin bresaola filet mignon. Doner pork loin cupim fatback, landjaeger short loin buffalo beef ribs rump andouille tenderloin sausage t-bone pig salami. Pig andouille picanha ham pork loin pork. Turducken sirloin biltong tenderloin. </p>
            </div>

        </div>
        <h1 class="copyright">Copyright &#169; 2015 Clyde "Thluffy" Sinclair</h1>
    </div>
</body>

</html>
